.list {
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  padding-top: 8px;
  padding-bottom: 8px;
}
.listItem {
  display: flex;
  align-items: center;
  line-height: 0;
  justify-content: center;
  padding-top: 4px;
  padding-bottom: 4px;
}
.listItem > *:first-child {
  text-align: right;
}
.listItem > *:last-child {
  width: 55%;
  text-align: left;
}

.listItemText {
  flex: 1 1 auto;
  flex-grow: 0;
  margin-left: 16px;
  padding-left: 16px;
  border-left: 1px solid var(--rdc-color-border);
  line-height: 0;
}
.primaryText {
  line-height: 1.4;
  font-weight: 500;
  font-family: var(--rdc-font-family);
  color: var(--rdc-font-color);
}
.secondaryText {
  margin: 0;
  display: block;
  line-height: 1.23;
  font-size: 0.9rem;
  font-weight: 300;
  font-family: var(--rdc-font-family);
}
