/* menomonia-normal - latin */
@font-face {
  font-family: 'Menomonia';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Menomonia'),
    url('./files/menomonia.woff') format('woff');
}

/* menomonia-italic - latin */
@font-face {
  font-family: 'Menomonia';
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src:
    local('Menomonia Italic'),
    url('./files/menomonia-italic.woff') format('woff');
}
