.imageProfessionGuardian {
  background-image: url('../../assets/icons/Profession/Guardian.png');
}
.imageProfessionDragonhunter {
  background-image: url('../../assets/icons/Profession/Dragonhunter.png');
}
.imageProfessionFirebrand {
  background-image: url('../../assets/icons/Profession/Firebrand.png');
}
.imageProfessionWillbender {
  background-image: url('../../assets/icons/Profession/Willbender.png');
}
.imageProfessionLuminary {
  background-image: url('../../assets/icons/Profession/Luminary.png');
}

.imageProfessionWarrior {
  background-image: url('../../assets/icons/Profession/Warrior.png');
}
.imageProfessionSpellbreaker {
  background-image: url('../../assets/icons/Profession/Spellbreaker.png');
}
.imageProfessionBerserker {
  background-image: url('../../assets/icons/Profession/Berserker.png');
}
.imageProfessionBladesworn {
  background-image: url('../../assets/icons/Profession/Bladesworn.png');
}
.imageProfessionParagon {
  background-image: url('../../assets/icons/Profession/Paragon.png');
}

.imageProfessionRevenant {
  background-image: url('../../assets/icons/Profession/Revenant.png');
}
.imageProfessionHerald {
  background-image: url('../../assets/icons/Profession/Herald.png');
}
.imageProfessionRenegade {
  background-image: url('../../assets/icons/Profession/Renegade.png');
}
.imageProfessionVindicator {
  background-image: url('../../assets/icons/Profession/Vindicator.png');
}
.imageProfessionConduit {
  background-image: url('../../assets/icons/Profession/Conduit.png');
}

.imageProfessionRanger {
  background-image: url('../../assets/icons/Profession/Ranger.png');
}
.imageProfessionDruid {
  background-image: url('../../assets/icons/Profession/Druid.png');
}
.imageProfessionSoulbeast {
  background-image: url('../../assets/icons/Profession/Soulbeast.png');
}
.imageProfessionUntamed {
  background-image: url('../../assets/icons/Profession/Untamed.png');
}
.imageProfessionGaleshot {
  background-image: url('../../assets/icons/Profession/Galeshot.png');
}

.imageProfessionEngineer {
  background-image: url('../../assets/icons/Profession/Engineer.png');
}
.imageProfessionScrapper {
  background-image: url('../../assets/icons/Profession/Scrapper.png');
}
.imageProfessionHolosmith {
  background-image: url('../../assets/icons/Profession/Holosmith.png');
}
.imageProfessionMechanist {
  background-image: url('../../assets/icons/Profession/Mechanist.png');
}
.imageProfessionAmalgam {
  background-image: url('../../assets/icons/Profession/Amalgam.png');
}

.imageProfessionElementalist {
  background-image: url('../../assets/icons/Profession/Elementalist.png');
}
.imageProfessionTempest {
  background-image: url('../../assets/icons/Profession/Tempest.png');
}
.imageProfessionWeaver {
  background-image: url('../../assets/icons/Profession/Weaver.png');
}
.imageProfessionCatalyst {
  background-image: url('../../assets/icons/Profession/Catalyst.png');
}
.imageProfessionEvoker {
  background-image: url('../../assets/icons/Profession/Evoker.png');
}

.imageProfessionMesmer {
  background-image: url('../../assets/icons/Profession/Mesmer.png');
}
.imageProfessionChronomancer {
  background-image: url('../../assets/icons/Profession/Chronomancer.png');
}
.imageProfessionMirage {
  background-image: url('../../assets/icons/Profession/Mirage.png');
}
.imageProfessionVirtuoso {
  background-image: url('../../assets/icons/Profession/Virtuoso.png');
}
.imageProfessionTroubadour {
  background-image: url('../../assets/icons/Profession/Troubadour.png');
}

.imageProfessionNecromancer {
  background-image: url('../../assets/icons/Profession/Necromancer.png');
}
.imageProfessionReaper {
  background-image: url('../../assets/icons/Profession/Reaper.png');
}
.imageProfessionScourge {
  background-image: url('../../assets/icons/Profession/Scourge.png');
}
.imageProfessionHarbinger {
  background-image: url('../../assets/icons/Profession/Harbinger.png');
}
.imageProfessionRitualist {
  background-image: url('../../assets/icons/Profession/Ritualist.png');
}

.imageProfessionThief {
  background-image: url('../../assets/icons/Profession/Thief.png');
}
.imageProfessionDaredevil {
  background-image: url('../../assets/icons/Profession/Daredevil.png');
}
.imageProfessionDeadeye {
  background-image: url('../../assets/icons/Profession/Deadeye.png');
}
.imageProfessionSpecter {
  background-image: url('../../assets/icons/Profession/Specter.png');
}
.imageProfessionAntiquary {
  background-image: url('../../assets/icons/Profession/Antiquary.png');
}
