.coloredProfessionWarrior {
  transition: color 200ms ease-in-out;
  color: var(--gw2-color-warrior-main);
}
.coloredProfessionWarrior:hover {
  color: var(--gw2-color-warrior-dark);
}

.coloredProfessionElementalist {
  transition: color 200ms ease-in-out;
  color: var(--gw2-color-elementalist-main);
}
.coloredProfessionElementalist:hover {
  color: var(--gw2-color-elementalist-dark);
}

.coloredProfessionEngineer {
  transition: color 200ms ease-in-out;
  color: var(--gw2-color-engineer-main);
}
.coloredProfessionEngineer:hover {
  color: var(--gw2-color-engineer-dark);
}

.coloredProfessionGuardian {
  transition: color 200ms ease-in-out;
  color: var(--gw2-color-guardian-main);
}
.coloredProfessionGuardian:hover {
  color: var(--gw2-color-guardian-dark);
}

.coloredProfessionMesmer {
  transition: color 200ms ease-in-out;
  color: var(--gw2-color-mesmer-main);
}
.coloredProfessionMesmer:hover {
  color: var(--gw2-color-mesmer-dark);
}

.coloredProfessionNecromancer {
  transition: color 200ms ease-in-out;
  color: var(--gw2-color-necromancer-main);
}
.coloredProfessionNecromancer:hover {
  color: var(--gw2-color-necromancer-dark);
}

.coloredProfessionRanger {
  transition: color 200ms ease-in-out;
  color: var(--gw2-color-ranger-main);
}
.coloredProfessionRanger:hover {
  color: var(--gw2-color-ranger-dark);
}

.coloredProfessionRevenant {
  transition: color 200ms ease-in-out;
  color: var(--gw2-color-revenant-main);
}
.coloredProfessionRevenant:hover {
  color: var(--gw2-color-revenant-dark);
}

.coloredProfessionThief {
  transition: color 200ms ease-in-out;
  color: var(--gw2-color-thief-main);
}
.coloredProfessionThief:hover {
  color: var(--gw2-color-thief-dark);
}
